body
{
	margin:0px;
	padding:0px;
}
img
{
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
}
/*--------main body stuff--------*/
#main
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:white;
}
#mainRP
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:80px;
	background-color:white;
}
.resultsArea
{
	position:absolute;
	top:120px;
	left:0px;
	width:100%;
	height:auto;
	background-color:white;
}
/*--------logo--------*/
.logo
{
	width:160px;
	height:64px;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	top:110px;
	left:0px;
	right:0px;
}
.logoRP
{
	width:95px;
	height:38px;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	top:15px;
	left:0px;
	right:0px;
}
/*--------search area, search buttons--------*/
.searchControls
{
	width:100%;
	height:200px;
	position:absolute;
	top:180px;
	text-align:center;
	padding-top:18px;
	background-color:white;
}
.searchControlsRP
{
	width:100%;
	height:50px;
	text-align:center;
	position:absolute;
	top:61px;
	left:0px;
}
.searchBar-container
{
	position:relative;
	left: 50%;
	transform: translateX(-50%);
	width:90%;
	max-width:750px;
	height:50px;
	padding:0px;
	margin:0px;
	background-image:url('images/searchBar/object-searchbar-middle.png');
}
.searchBar-containerRP
{
	position:relative;
	left: 50%;
	transform: translateX(-50%);
	width:90%;
	max-width:750px;
	height:50px;
	padding:0px;
	margin:0px;
	background-image:url('images/searchBar/object-searchbar-middle.png');
}
.searchBar-left
{
	position:absolute;
	top:0px;
	left:-1px;
	width:34px;
	height:50px;
	margin:0px;
	padding:0px;
	background-image:url('images/searchBar/object-searchbar-left.png');
}
.searchBar-leftRP
{
	position:absolute;
	top:0px;
	left:-1px;
	width:34px;
	height:50px;
	margin:0px;
	padding:0px;
	background-image:url('images/searchBar/object-searchbar-left.png');
}
.searchBar-middle
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:50px;
	border:none;
	margin:0px;
	padding-left:40px;
	padding-right:27px;
	font-size:12pt;
	background-color:transparent;
	box-sizing:border-box;
	z-index:100;
}
.searchBar-middleRP
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:50px;
	border:none;
	margin:0px;
	padding-left:40px;
	padding-right:27px;
	font-size:12pt;
	background-color:transparent;
	box-sizing:border-box;
	z-index:100;
}
.searchBar-middle:focus
{
	outline:none;
}
.searchBar-middleRP:focus
{
	outline:none;
}
.searchBar-right
{
	position:absolute;
	top:0px;
	right:-1px;
	width:27px;
	height:50px;
	margin:0px;
	padding:0px;
	background-image:url('images/searchBar/object-searchbar-right.png');
}
.searchBar-rightRP
{
	position:absolute;
	top:0px;
	right:-1px;
	width:27px;
	height:50px;
	margin:0px;
	padding:0px;
	background-image:url('images/searchBar/object-searchbar-right.png');
}

.searchBarRP
{
	width:622px;
	height:50px;
	padding-left:20px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	border:none;
	margin:0px;
	background-image:url('images/object-searchbar-rsz-rp.png');
	font-size:12pt;
	position:relative;
	top:-20px;
	display:none;
}
.searchBarRP:focus
{
	outline:none;
}
/* clears the 'X' from Internet Explorer */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
.searchButton
{
	width:127px;
	height:42px;
	border:none;
	margin-top:22px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:5px;
	background-image:url('images/button-search-rsz.jpg');
	cursor:pointer;
	display:none;
}
.searchButtonRP
{
	display:inline;
	width:50px;
	height:50px;
	background-image:url('images/button-search-rp.png');
	border:none;
	cursor:pointer;
	position:relative;
	right:4px;
	display:none;
}
.luckyButton
{
	width:127px;
	height:42px;
	border:none;
	margin-top:22px;
	margin-bottom:0px;
	margin-left:5px;
	margin-right:0px;
	background-image:url('images/button-lucky-rsz.jpg');
	cursor:pointer;
	display:none;
}
/*--------page text, buttons, objects--------*/
.text-about
{
	height:22px;
	position:absolute;
	top:20px;
	left:20px;
	display:none;
}
.text-store
{
	height:22px;
	position:absolute;
	top:20px;
	left:90px;
	display:none;
}
.button-signin
{
	height:42px;
	position:absolute;
	top:8px;
	right:14px;
}
.button-signin-RP
{
	height:42px;
	position:absolute;
	top:28px;
	right:14px;
	display:none;
}
.object-signin
{
	width:28px;
	height:28px;
	position:absolute;
	top:14px;
	right:14px;
}
.object-menu
{
	width:18px;
	height:18px;
	position:absolute;
	top:21px;
	right:137px;
	cursor:pointer;
}
.object-menu-RP
{
	width:18px;
	height:18px;
	position:absolute;
	top:41px;
	right:137px;
	cursor:pointer;
	display:none;
}
.text-all
{
	height:22px;
	position:absolute;
	top:20px;
	left:20px;
}
.text-images
{
	height:22px;
	position:absolute;
	top:20px;
	left:55px;
}
.text-gmail
{
	height:22px;
	position:absolute;
	top:20px;
	right:246px;
	display:none;
}
/*--------icon menu--------*/
#iconMenu
{
	width:316px;
	height:436px;
	position:absolute;
	top:66px;
	right:15px;
	border:none;
	display:none;
}
#iconMenu-RP
{
	width:316px;
	height:436px;
	position:absolute;
	top:86px;
	right:15px;
	border:none;
	display:none;
}
#iconMenuBorder
{
	position:absolute;
	top:60px;
	right:10px;
	pointer-events:none;
	display:none;
}
#iconMenuBorder-RP
{
	position:absolute;
	top:80px;
	right:10px;
	pointer-events:none;
	display:none;
}
/*--------copyright text--------*/
.copyright
{
	position:absolute;
	bottom:20px;
	left:20px;
	height:25px;
}