@font-face
{
  font-family:itc-avant-garde-gothic-pro-light;
  src:url('fonts/ITCAvantGardePro-Bk.otf');
}
@font-face
{
  font-family:itc-avant-garde-gothic-pro-regular;
  src:url('fonts/ITCAvantGardePro-Md.otf');
}
@font-face
{
  font-family:itc-avant-garde-gothic-pro-bold;
  src:url('fonts/ITCAvantGardePro-Bold.otf');
}
body, h1, h2, h3, h4, h5, h6, p
{
  margin:0px;
}
h1, h2, h3, h4, h5, h6
{
  font-weight:500;/*300; 500; 700*/
  line-height:1.1;
  font-family:itc-avant-garde-gothic-pro-bold;
}
body
{
  background-color: #1d1a19;
  color:#ffffff;
/*  image-rendering:crisp-edges;*/
}
h1
{
  font-size:48pt;
}
h2
{
  font-size:24pt;
}
h3
{
  font-size:24pt;
}
h4
{
  font-size:17pt;
  line-height:1.6;
}
h5
{
  font-size:17pt;
}
h5 a
{
  display:block;
  line-height:2;
}
h6
{
    padding-top:25px;
    padding-bottom:0px;
    font-size:34pt;
}
p
{
  font-family:itc-avant-garde-gothic-pro-regular;
  font-size:17pt;
  line-height: 1.6;
}
a
{
  color:#ffffff;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
u
{
  text-decoration: underline 1px;
  text-underline-offset: 0.2em;
}
img
{
  image-rendering: -webkit-optimize-contrast;
}
.main
{
  display:block;
}
header
{
/*  background-color: firebrick;*/
  display:flex;
  padding-top:25px;
  padding-bottom:25px;
  padding-left:80px;
  padding-right:80px;
}
footer
{
  padding-top:10px;
  padding-bottom:50px;
  padding-left:80px;
  padding-right:80px;
/*  background-color:orange;*/
}
footer a
{
  padding-left:4px;
  padding-right:4px;
}
.flex-video-container
{
  display:block;
}
.flex-video
{
  width:100%;
  height:auto;
}
.flex-video-line-break
{
  display:block;
}
.site-title
{
/*  background-color: chocolate;*/
  min-height:32px;
  text-align: center;
  width:100%;
}
.navigation
{
/*  background-color: lightslategrey;*/
  min-height:32px;
  line-height:32px;
  text-align: right;
  width:50%;
  font-family:itc-avant-garde-gothic-pro-regular;
  font-size:17px;
  display:none;
}
.navigation a
{
  padding-left:10px;
  padding-right:10px;
}
.content
{
/*  background-color:indigo;*/
  max-width:1400px;
  padding-left:22px;
  padding-right:22px;
}
hr
{
  border-top:1px solid white;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  margin-top:40px;
  margin-bottom:40px;
}
.content-pane
{
  padding-top:38px;
  padding-bottom:38px;
  display:block;
}
.content-pane-link
{
    display:flex;
    flex-flow:column;
    width:100%;
}
.content-pane-product-page
{
  width:100%;
  margin: 0 auto;
}
.content-pane-about-left
{
    width:100%;
}
.content-pane-about-right
{
    width:100%;
    padding-top:30px;
    box-sizing:border-box;
}
.content-pane-intro-left
{
  width:100%;
}
.content-pane-intro-right
{
  width:100%;
  padding-top:38px;
}
.content-pane-anydrum-left
{
  width:100%;
  background-image:url("art/anydrum.png");
  background-size:cover;
  background-position:center;
  height:0;
  padding-top:62.5%;/*(height/width ratio * div width %---550/880*1.0=0.625)*/
}
.content-pane-anydrum-right
{
  text-align:left;
  width:100%;
  padding-top:30px;
  padding-bottom:30px;
  padding-left:0px;
  padding-right:0px;
  box-sizing:border-box;
  transition:0.25s;
}
.content-pane-dg-left
{
  text-align:left;
  width:100%;
  padding-top:30px;
  padding-bottom:30px;
  padding-left:0px;
  padding-right:0px;
  box-sizing:border-box;
  transition:0.25s;
  order:2;
}
.content-pane-dg-right
{
  width:100%;
  background-image:url("art/doodlegoogle.png");
  background-size:cover;
  background-position:center;
  height:0;
  padding-top:62.5%;
  order:1;
}
.content-pane-link:hover .content-pane-dg-left, .content-pane-link:hover .content-pane-anydrum-right/*, .content-pane-dg-left:hover*/
{
  background-color:white;
  color:#1d1a19;
/*  color: #1d1a19;
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;*/
}
#contact-page
{
    background-color:#1d1a19;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display:none;
}
#contact-page-x
{
    color:white;
    width:85px;
    height:85px;
    font-family:arial;
    font-size:20pt;
    position:fixed;
    top:0px;
    left:0px;
    cursor:pointer;
    text-align:center;
    line-height:85px;
}
#hamburger-menu-icon
{
  color: white;
  width:85px;
  height:85px;
  font-family:arial;
  font-size:20pt;
  position:absolute;
  top:0px;
  left:0px;
  cursor:pointer;
  text-align:center;
  line-height:85px;
}
#mobile-navigation-page
{
    background-color:#1d1a19;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display:none;
}
#mobile-navigation-page-x
{
    color:white;
    width:85px;
    height:85px;
    font-family:arial;
    font-size:20pt;
    position:fixed;
    top:0px;
    left:0px;
    cursor:pointer;
    text-align:center;
    line-height:85px;
}
.anydrum-page-img-01
{
  width:100%;
  padding-bottom:38px;
}
.anydrum-page-img-02
{
  width:100%;
}